body{
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f4f4f4;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  background: #ffffff;              
  padding: 15px 30px;
  border-radius: 12px;
  margin: 20px;

  box-shadow: 0 4px 10px rgba(0,0,0,0.08); 
}

.logo {
  font-size: 1.6rem;
  font-weight: 700;
  color: #2a7de1;
  margin: 0;
}

.search-form input {
  padding: 8px 14px;
  width: 220px;
  border-radius: 8px;
  border: 1px solid #d0d0d0;
  font-size: 14px;
  color : rgb(143, 185, 230);
  margin-right: 7px;
}

.search-form input:focus {
  outline: none;
  border-color: #2a7de1;
  box-shadow: 0 0 4px rgba(42,125,225,0.4);
}

.book-card {
  background: #ffffff;
  padding: 15px;
  margin: 15px;
  width: 200px;

  text-align: center;
  display: inline-block;
  vertical-align: top;

  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);

  transition: transform 0.25s ease, box-shadow 0.25s ease;
}

.book-card:hover {
  transform: translateY(-6px);
  box-shadow: 0 8px 18px rgba(0, 0, 0, 0.15);
}

.book-card img {
  width: 120px;
  height: 160px;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 10px;
}

.book-card h3 {
  font-size: 1.1rem;
  font-weight: 600;
  color: #213547;
  margin: 8px 0;
}


.book-card p {
  font-size: 0.9rem;
  color: #555;
  margin: 5px 0;
}

.welcome,.search_ {
  text-align: center;
  color: #213547;   /* change this to any color you want */
  font-weight: 700;
  margin-top: 20px;
  font-family:comic sans ms;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: 5fbfe4;
  cursor: pointer;
  transition: border-color 0.25s;
  color: black;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
.logo-image {
  width: 90px;       
  height: 90px;      
  object-fit: contain; 
  margin-right: 12px;
}


@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }


}